<div class="modal fade" id="m_evaluasi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="myModalLabel">Data Kompetensi Dasar</h4>
      </div>
      <div class="modal-body">
          <form name="f_kd" id="f_kd">
            <input type="hidden" name="id_kd" id="id_kd" value="0">
              <table class="table table-form">
                <tr><td style="width: 25%">KD Ke</td><td style="width: 75%"><input type="text" class="form-control" name="kd_ke" id="kd_ke" required></td></tr>
                <tr><td style="width: 25%">Deskripsi</td><td style="width: 75%"><input type="text" class="form-control" name="nama" id="nama" required></td></tr>
                <tr><td style="width: 25%">Mapel</td><td style="width: 75%">
                  <select style="width:100%;" class="form-control" id="id_mapel" required name="id_mapel">

                </select>
              </td></tr>
              </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary"><i class="fa fa-check"></i> Simpan</button>
        
        <button class="btn" data-dismiss="modal" aria-hidden="true"><i class="fa fa-minus-circle"></i> Tutup</button>
      </div>
        </form>
    </div>
  </div>
</div>